{% include "node.html" %}

{% include "pulled.html" %}

{% include "related.html" %}

{% include "search.html" %}

{% include "genai.html" %}

<!-- __EXECTIME__ and __NOW__ get replaced in after_request. -->
<!-- contains potentially useful 'development' easter egg :) -->
<div id='footer'>
    <center>
    ⸎
    Served by the <a href="{{config['URL_BASE']}}">{{config['AGORA_NAME']}}</a> at <strong>__NOW__</strong> in <strong><a style="all: unset;"href="http://localhost:5017/{{node.qstr}}">__EXECTIME__s</a></strong>.
    {% if range(0, 2) | random %}
    May you be happy!
    {% else %}
    May you be free!
    {% endif %}
    </center>
</div>
