<!-- <div class="context"> now meant to be loaded async through /context/x -->

<summary class="node-header main-header" title="Dynamically assembled context from this and other locations.">
    <span style="flex: auto; flex-grow: 1;">
        🌌 <strong>Agora context</strong> for
        <span class="wikilink-marker">[[</span><a href="/context/{{node.qstr}}"><span class="node-name">{{node.qstr}}</span></a><span class="wikilink-marker">]]</span>
    </span>
</summary>
<div class="context-layout">
{% if node.back_nodes() or node.push_nodes() or node.pull_nodes() or node.forward_nodes() %}

    <!-- Center/Top: Interactive Graph -->
    <div class="context-column center-column graph">
        {% include "graph.html" %}
    </div>

    <!-- Left/Bottom: Backlinks -->
    <div class="context-column left-column backlinks">
        <span class="backlinks-header" title="← Backlinks: other locations in the Agora that link back to this topic.">← Backlinks</span>
        <div class="link-list">
        {% if node.back_nodes() %}
            {% for n in node.back_nodes() %}
            <span class="node-name"><a href="/{{n.uri}}">{{n.description}}</a></span><br />
            {% endfor %}
        {% else %}
            <span class="none-text">(none)</span>
        {% endif %}
        </div>
    </div>

    <!-- Right/Bottom: Outlinks -->
    <div class="context-column right-column outlinks">
        <span class="forwardlinks-header" title="Outlinks →: other concepts and topics mentioned inside this location's contributions.">Outlinks →</span>
        <div class="link-list">
        {% if node.forward_nodes() %}
            {% for n in node.forward_nodes() %}
            <span class="node-name"><a href="/{{n.uri}}">{{n.description}}</a></span><br />
            {% endfor %}
        {% else %}
            <span class="none-text">(none)</span>
        {% endif %}
        </div>
    </div>

{% else %}

<p style="text-align: center; width: 100%;">
<em>No context found.</em>
</p>

{% endif %}
</div>
