<!-- <div class="context"> now meant to be loaded async through /context/x -->

<summary class="context-header"><span title="Information about the surroundings and connections between this location and others. May load slowly.">⥱ Context for <a href="/{{node}}"><span class="node-name">[[{{node.qstr}}]]</span></a></span></summary>

<div class="context-flex">
{% if node.back_nodes() or node.push_nodes() or node.pull_nodes() or node.forward_nodes() %}

{% include "graph.html" %}

{% include "links.html" %}

{% else %}

<p>
No context found.
</p>

</div>

{% endif %}
