<!-- "404" (but not really :) -->
<details class="node" id="{{node.uri}}" open>

    <summary class="node-header main-header"><span style="flex: auto; flex-grow: 1;" title="An Agora location. It contains resources contributed by users having to do with a location according to the Agora you're using.">
        📚 <strong>Agora location</strong> <span class="wikilink-marker">[[</span><a href="/{{node}}" title="A node in {{config['NAME']}}."><span class="node-name">{{node.qstr}}</span></a><span class="wikilink-marker">]]</span> (empty)</span>
        <span class="node-star-toggle {% if node.uri in starred_nodes %}starred{% endif %}" data-node-uri="{{ node.uri }}" title="A star on an empty node is a wish. Click to add this node to this Agora's wishlist.">
            {% if node.uri in starred_nodes %}★{% else %}☆{% endif %}
        </span>
    </summary>

    <div class="not-found subnode" data-author="agora">
           <strong>This Agora location is empty.</strong> Be the first to <a href="https://edit.anagora.org/@flancian/{{node.qstr}}.md" title="Write a contribution for this location.">🌱 Write a contribution</a> or <a href="/wander/{{node.qstr}}" title="Wander to a random connected node.">🧭 Wander</a> to a connected place.

            <ul>

            <li>
                ✍️  <strong><a href="/write">Write</a> in a public document.</strong>
                <ul>
                    <li>
                    No signup required!
                    </li>
                    <li>
                        You can write in the shared document available as a "<a href="/stoa">stoa</a>" in this page. 
                        What you contribute there will show up here later.
                    </li>
                </ul>
            </li> 

            <li>
                💬 <strong><a href="/post">Post</a> from social media or chat.</strong>
                <ul>
                <li>
                    You can contribute from the <a href="/fediverse">Fediverse</a>, <a href="/matrix">Bluesky</a> or <a href="/matrix">Matrix</a>.
                </li>
                <li>
                    Follow an <a href="/agora-bot">Agora bot</a> in the platforms of your choice and use <code>[[wikilinks]]</code> or (optionally) <code>#hashtags</code> to interact. 
                    For example: if you include <code>[[{{node.qstr}}]]</code> in a post or message, it will be linked here.
                </li>
                </ul>
            </li> 

            <li>
                 🙏 <strong> <a id="join2" href="#">Join the Agora</a> with your self-hosted writing and media.</strong>
                <ul>
                    <li>You can integrate your digital garden, blog or wiki into the Agora Commons by publishing it and telling us about it.
                    </li>
                    <li>
                    After that, contributions titled '{{node.qstr}}' or similar will show up in this node.</li>
                </ul>
                </li>
            </li>

           </ul>

    </div>

    <div id="interactive-empty-state" class="subnode" style="margin-top: 2em; margin-bottom: 2em; padding: 1.5em; border-radius: 8px;">
        <!-- Filled by JS -->
    </div>
</details>

