    <div class="not-found subnode" data-author="agora">
           <strong>Nobody has noded "<a href="/{{node.qstr}}">{{node.qstr}}</a>"</strong> in this Agora yet, but you can if you want to:

            <ul>

            <li>
                ✍️  <strong><a href="/write">Write</a> in a public document.</strong>
                <ul>
                    <li>
                    No signup required!
                    </li>
                    <li>
                        You can write in the shared document available as a "<a href="/stoa">stoa</a>" in this page. 
                        What you contribute there will show up here later.
                    </li>
                </ul>
            </li> 

            <li>
                💬 <strong><a href="/post">Post</a> from social media or chat.</strong>
                <ul>
                <li>
                    You can contribute from the <a href="/fediverse">Fediverse</a>, <a href="/matrix">Bluesky</a> or <a href="/matrix">Matrix</a>.
                </li>
                <li>
                    Follow an <a href="/agora-bot">Agora bot</a> in the platforms of your choice and use <code>[[wikilinks]]</code> or (optionally) <code>#hashtags</code> to interact. 
                    For example: if you include <code>[[{{node.qstr}}]]</code> in a post or message, it will be linked here.
                </li>
                </ul>
            </li> 

            <li>
                 🙏 <strong> <a id="join2" href="#">Join the Agora</a> with your self-hosted writing and media.</strong>
                <ul>
                    <li>You can integrate your digital garden, blog or wiki into the Agora Commons by publishing it and telling us about it.
                    </li>
                    <li>
                    After that, contributions titled '{{node.qstr}}' or similar will show up in this node.</li>
                </ul>
                </li>
            </li>

           </ul>

        </p>
    </div>

