    <div class="not-found subnode" data-author="agora">
           <strong>Nobody has noded "<a href="/{{node.qstr}}">{{node.qstr}}</a>"</strong> in this Agora yet, but you can if you want to:

            <ul>

            <li>
                <strong><a href="/write">Write</a> in a Stoa.</strong>
                <ul>
                <li>
                    Open the document in the list of <a href="/stoas">Stoas</a> above. What you write there will show up in this node later.
                No signup required.
                </li>
                </ul>
            </li> 

            <li>
                <strong><a href="/post">Post</a> from social media or chat.</strong>
                <ul>
                <li>
                    You can cross-post from the <a href="/fediverse">Fediverse</a> and <a href="/matrix">Matrix</a>.
                    Follow an <a href="/agora-bot">Agora bot</a> and post <code>[[wikilinks]]</code> or opt into <code>#hashtag</code> handling.
                </li>
                </li>
                </ul>
            </li> 

            <li>
                <strong><a href="/join">Join this Agora</a> with your self-hosted writing and media.</strong>
                <ul>
                    <li>You can integrate your whole blog, digital garden or wiki into the Agora <a href="/knowledge-commons">Knowledge Commons</a>.
                    Some setup required :)
                    </li>
                </ul>
                </li>
            </li>

           </ul>
        </p>
    </div>

