<!-- __EXECTIME__ and __NOW__ get replaced in after_request. -->
<!-- contains potentially useful 'development' easter egg :) -->

<div class="footer-wrapper">
<div id='footer'>
    <!-- Served by the <a href="{{config['URL_BASE']}}">{{config['AGORA_NAME']}}</a> at <strong>__NOW__</strong> in <strong><a style="all: unset;"href="http://localhost:5017/{{node.qstr}}">__EXECTIME__s</a></strong>.
    -->
    {% if 'development' in config.AGORA_NAME.lower() or 'alpha' in config.AGORA_NAME.lower() %}<a class="all-unset" href="{{config.PROD_URL_BASE}}/{{node.qstr}}">🍮</a>{% else %}<a class="all-unset" href="{{config.DEV_URL_BASE}}/{{node.qstr}}">🍮</a>{% endif %}
    Served by the 
    <a href="{{config['ROOT']}}" title="Go to the root of the Agora.">🏛️</a> <a href="{{config['URL_BASE']}}">{{config['AGORA_NAME']}}</a>
    at <strong>__NOW__</strong>
    {% if 'Flan' in config['AGORA_NAME'] %} for the benefit of all beings{% else %} {% endif %}
    &nbsp;
    <button id="mini-cli-retry" value="retry" title="Reload the page. May fix transient errors.">
              🔄 Retry
           </button>
    &nbsp;
    <a href="/stats" title="View Agora system statistics and health." style="text-decoration: none;">📊 Stats</a>
    {% if config.ENABLE_FLUSH_CACHE_BUTTON %}
    <button id="mini-cli-cachez" title="Clear in-memory cache for this server process. Resolves some inconsistencies.">
        🧠 Flush In-Memory Cache
    </button>
    <button id="mini-cli-invalidate-sqlite" title="Flush SQLite cache. Forces a full re-index from the filesystem on the next page load.">
        💾 Flush SQLite
    </button>
    {% endif %}
</div>
</div>