<!-- __EXECTIME__ and __NOW__ get replaced in after_request. -->
<!-- contains potentially useful 'development' easter egg :) -->

<div id='footer'>

    <hr />

    <center>
    <!-- Served by the <a href="{{config['URL_BASE']}}">{{config['AGORA_NAME']}}</a> at <strong>__NOW__</strong> in <strong><a style="all: unset;"href="http://localhost:5017/{{node.qstr}}">__EXECTIME__s</a></strong>.
    -->
    ⸎ Served by the 
    <a style="all: unset;"href="https://panda.anagora.org/{{node.qstr}}"> {% if 'Flan' in config['AGORA_NAME'] %} 🍮 {% else %} 🏛️ {% endif %}
    <a href="{{config['URL_BASE']}}">{{config['AGORA_NAME']}}</a>
    at <strong>__NOW__</strong></a>
    | <a href="{{config['ROOT']}}">Agora Root</a> 
    | <a href="{{config['SOURCE']}}">Source</a> 
   </center>

    <!--
    <center>
    <span>
    <em>
    {% if range(0, 2) | random %}
    May you be happy! 
    {% else %}
    May you be free!
    {% endif %}
    </em>
    </span>
    </center>
    -->

</div>




