<!--
 Copyright 2020 Google LLC

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<!-- todo: rename context -->
<span class="links-header">Context</span><br />
<div class="links">
    <div class="backlinks">
        <span class="backlinks-header">← back</span><br />
    {% for link in backlinks %}
    <a href="/node/{{link}}">{{link}}</a><br />
    {% endfor %}
    <br />
    </div>

    <div class="pushlinks">
        <span class="pushlinks-header">↑ pushing</span><br />
    {% if pushing_nodes %}
    {% for node in pushing_nodes %}
    <a href="/node/{{node.uri}}">{{node.uri}}</a><br />
    {% endfor %}
    {% else %}
    (none)
    {% endif %}
    <br />
    <br />

    <!--
    <div class="pulllinks">
    <span class="pulllinks-header"> ↑pushing</span><br />
    {% for node in pull_nodes %}
    <a href="/node/{{node.uri}}">{{node.uri}}</a><br />
    {% endfor %}
    <br />
    -->
    
    <span class="pulllinks-header">↓ pulling</span><br />
    {% if pulling_nodes %}
    {% for node in pulling_nodes %}
    <a href="/node/{{node.uri}}">{{node.uri}}</a><br />
    {% endfor %}
    {% else %}
    (none)
    {% endif %}
    <br />

    </div>

    <div class="forwardlinks">
    <span class="forwardlinks-header">→ forward</span><br />
    {% for link in forwardlinks %}
    <a href="/node/{{link}}">{{link}}</a><br />
    {% endfor %}
    <br />
    </div>
</div>

{% if annotations_enabled %}
<div class="annotations">
    <div class="hypothesis">
        <span class="backlinks-header">Web annotations</span><br />
    {% if annotations.entries %}
        {% for annotation in annotations.entries %}
        <a href="{{annotation.link}}">Annotation</a> by <a href="https://hypothes.is">hypothes.is</a> user <a href="https://hypothes.is/users/{{annotation.author}}">{{annotation.author}}</a>
        on {{annotation.published[:10]}}<br />
        <blockquote>
        <em>{{annotation.summary|markdown|linkify|safe}}</em>
        </blockquote>
        {% endfor %}
    {% else %}
        No annotations found. <br />
        <em>Start using <a href="https://hypothes.is">hypothes.is</a> today!  Web annotations are an open web standard.</em>
    {% endif %}
    </div>
{% endif %}

</div>
