{% if pushed_subnodes %}
    {% for subnode in pushed_subnodes %}
    <details class="pushed-subnode" open>
        <summary class="subnode-header main-header">
            <span class="subnode-id" style="flex: auto; flex-grow: 1;">
                <a class="user" href="/@{{subnode.user}}">👤 {{subnode.user}}</a>
            <span title="This was written elsewhere but is believed to be relevant in the current context."> pushed from </span>
            <span class="subnode-links">
                <a href="/raw/{{subnode.uri}}">📄</a> 
                <a href="/@{{subnode.user}}/{{subnode.wikilink}}">{{subnode.uri}}</a>
            </span>
            </span>
        </summary>
        <ul>
        {% if argument %}
            <!-- executable subnode -->
            {{ subnode.render(argument)|linkify|safe }}
        {% else %}
            {{ subnode.render()|linkify|safe }}
        {% endif %}

        </ul>
    </details>
    {% endfor %}
{% endif %}

