{% if pushed_subnodes %}
    {% for subnode in pushed_subnodes %}
    <div class="pushed-subnode">
        <div class="subnode-header">
            <span class="subnode-id"><span class="subnode-links"><a href="/@{{subnode.user}}/{{subnode.wikilink}}">📄</a> incoming push from <a href="/raw/{{subnode.uri}}">{{subnode.uri}}</a> by <a
                        href="/@{{subnode.user}}">@{{subnode.user}}</a></span></span>
        </div>
        <ul>
            {{ subnode.render()|linkify|safe }}
        </ul>
    </div>
    {% endfor %}
{% endif %}

