{% extends "base.html" %}

{% block content %}



<!--
<div class="separator"><span>This you find on the 🌐 <strong>Internet</strong>

</span></div>
-->

<!-- yolo :) -->
<div class="intro">
    <em>You search for '{{node.qstr}}' in the <strong>{{config['AGORA_NAME']}}</strong>. You find this...</em>
    <!-- <span title="To recall any dialogs, please clear local storage for this Agora on your browser session or in settings." id="dismiss-intro" info-box-id="intro" class="dismiss-button">x</span>-->
</div>

    {% include "web.html" %}

    {% include "wp.html" %}

    {% include "wt.html" %}

    {% include "stoa.html" %}

<!--
<div class="separator"><span>This you find in the {{config['AGORA_FLAIR']}} <strong>{{config['AGORA_NAME']}}</strong>

</span></div>
-->

{% if subnode %}
<div id="async-content" src="{{subnode}}">
{% else %}
<div id="async-content" src="{{node}}">
{% endif %}
    <br />
    <center>
        <p>
        <div class="spinner">
            <img src="/static/img/agora.png" class="logo"></img>
        </div>
        </p>
        <p><em>Loading Agora node...</em></p>
    </center>
    <br />
</div>

{% include "genai.html" %}

{% include "search.html" %}

{% include "edit.html" %}

{% include "footer.html" %}

{% endblock %}
