{% extends "base.html" %}

{% block content %}

<!--
<div class="separator"><span>This you find on the 🌐 <strong>Internet</strong>

</span></div>

<div class="container">
    <div class="column">column 1</div>
    <div class="column">column 2</div>
</div>
-->

<!-- yolo :) -->
        <div info-box-id="internet-intro" class="intro">

            <span><em>You {{config['AGORA_ACTION_0']}} for '{{node.qstr}}' on the <strong>Internet</strong>…</em></span>
            <span title="To recall any dialogs, please clear local storage for this Agora on your browser session or in settings." info-box-id="internet-intro" id="dismissbutton" class="dismiss-button">x</span>
    
        </div>

    {% include "web.html" %}

    {% include "genai.html" %}

    <div id="wp-wt-container">
    </div>

    <!-- trying without for now, for most Agora users wiktionary probably just mostly adds visual complexity about the fold.
     would like to re-add once I figure some alternative to top level billing; maybe a tab of sorts in the wikipedia section? -->
    {# include "wt.html" #} 

    <div info-box-id="agora-intro" class="intro">
    <span><em>This you find in the <strong>{{config['AGORA_NAME']}}</strong>…</em></span>
      <span title="To recall any dialogs, please clear local storage for this Agora on your browser session or in settings." info-box-id="agora-intro" id="dismissbutton" class="dismiss-button">x</span>
    </div>
                      

{% if subnode %}
<div id="async-content" src="{{subnode}}">
{% else %}
<div id="async-content" src="{{node}}">
{% endif %}
    <br />
    <center>
        <p>
        <div class="spinner-container">
        <div class="spinner">
            <img src="/static/img/agora.png" class="logo"></img>
        </div>
        </div>
        </p>
        <p><em>Loading Agora node...</em></p>
    </center>
    <br />
</div>

{% include "stoa.html" %}

{% include "search.html" %}

{% include "edit.html" %}

{% include "footer.html" %}

{% endblock %}
