{% extends "base.html" %}

{% block content %}

<div class="separator"><span>This you find around the 🌐 <strong>Internet</strong><!-- for <span class="node-name"><a href="/{{node}}">[[{{node.qstr}}]]</a>--> </span></div>

    {% include "web.html" %}

    {% include "wp.html" %}


    <div class="separator"> <span>This you find in the {{config['AGORA_FLAIR']}} <strong>{{config['AGORA_NAME_SHORT']}}</strong><!-- for <span class="node-name"><a href="/{{node}}">[[{{node.qstr}}]]</a></span>--> </span> </div>

{% if subnode %}
<div id="async-content" src="{{subnode}}">
{% else %}
<div id="async-content" src="{{node}}">
{% endif %}
    <br />
    <center>
        <p>
        <div class="spinner">
            <img src="/static/img/agora.png" class="logo"></img>
        </div>
        </p>
        <p><em>Loading Agora location...</em></p>
    </center>
    <br />
</div>

{% include "genai.html" %}

{% include "stoa.html" %}


{% include "search.html" %}

{% include "footer.html" %}

{% endblock %}
