{% if wp_data or wt_data %}
<details class="wiki node"> 
    <summary> 
        <span class="wiki-header" title="Content from Wikimedia Commons.">
            <strong>📖</strong> 
            {% if wp_data %}
            <span class="wiki-provider-tab active" data-provider="wp">Wikipedia article</span><em><a href="{{ wp_data.canonicalurl }}" target="_blank">{{ wp_data.title }}</a></em>
            {% endif %}
            {% if wt_data %}
            {% if wp_data %}• {% endif %}
            <span class="wiki-provider-tab {% if not wp_data %}active{% endif %}" data-provider="wt">Wiktionary entry</span><em><a href="{{ wt_data.canonicalurl }}" target="_blank">{{ wt_data.title }}</a></em>
            {% endif %}
        </span>
    </summary>

    <div class="subnode">
        {% if wp_data %}
        <div class="wiki-embed" data-provider="wp" style="display: block;">
            <div class="info-box with-spacing mb-10" info-box-id="wp">
                <span class="genai-header"><em>This is the top ranked article in English-language <strong>Wikipedia</strong> for your search. Click above to see other options.</em></span>
                <span id="dismiss-wp" info-box-id="wp" class="dismiss-button">x</span>
            </div>
            <iframe id="exec-wp" src="{{ wp_data.canonicalurl }}" class="max-w-99" width="99.5%" height="700em" allowfullscreen="allowfullscreen"></iframe>
        </div>
        {% endif %}
        {% if wt_data %}
        <div class="wiki-embed" data-provider="wt" style="display: {% if wp_data %}none{% else %}block{% endif %};">
            <div class="info-box with-spacing mb-10" info-box-id="wt">
                <span class="genai-header"><em>This is the top ranked entry in English-language <strong>Wiktionary</strong> for your search. Click above to see other options.</em></span>
                <span id="dismiss-wt" info-box-id="wt" class="dismiss-button">x</span>
            </div>
            <iframe id="exec-wt" src="{{ wt_data.canonicalurl }}" class="max-w-99" width="99.5%" height="700em" allowfullscreen="allowfullscreen"></iframe>
        </div>
        {% endif %}
    </div>
</details>
{% else %}
<div class="node subnode">No Wikipedia article or Wiktionary entry found.</div>
{% endif %}
